<div class="animated fadeIn" ng-controller="OrSetupCtrl as vm">
	<div class="row">
		<div class="progress-card col-md-6">
			<div class="progress-card-header">
				<h3>Official Receipt Setup</h3>
			</div>
			<div class="progress-card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="floating-label ">
							<input type="text" class="form-control" ng-model="vm.variables.OrNo">
							<label ng-class="{'float':vm.variables.OrNo}">OR series</label>
						</div>
					</div>
				</div>
				<div class="footer">
					<div class="row">
						<div class="col-md-12 text-right">
							<!-- <button class="btn btn-default" ng-click="vm.clearFunction()">
								<i class="fa fa-times fa-fw"></i>Clear
							</button> -->
							<button class="btn btn-primary" ng-click="vm.save()">
								<i class="fa fa-save fa-fw"></i>SETUP   
							</button>
							<!-- <button class="btn btn-danger" ng-click="vm.delete()">
								<i class="fa fa-trash fa-fw"></i>Delete
							</button> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>