<div class="modal-content">
    <div class="modal-title-div">
        <strong class="modal-title-name">Authentication</strong>
        <button class="modal-exit" ng-click="modal.close()">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="floating-label">
                    <input type="password" class="form-control" ng-model="modal.variables.Username">
                    <label ng-class="{'float':modal.variables.Username}" >Username</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="floating-label">
                    <input type="password" class="form-control" ng-model="modal.variables.Password">
                    <label ng-class="{'float':modal.variables.Password}" >Password</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="floating-label">
                    <input type="text" class="form-control" ng-model="modal.variables.reason">
                    <label ng-class="{'float':modal.variables.reason}" >Reason</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button ng-click="modal.getAuth()" type="button" class="btn btn-danger btn-md"><strong>PROCEED</strong></button>
                <button type="button" ng-click="modal.close()" class="btn btn-warning btn-md"><strong>CLOSE</strong></button>
            </div>
        </div>
    </div>
</div>