<div class="animated fadeIn" ng-controller="RunMonthlyCtrl as vm">
    <div class="progress-card">
        <div class="progress-card-header">
            <h3>Run Monthly Receivable Form</h3>
        </div>
    </div>
    <div class="progress-card-body">
        <div class="row">
            <div class="col-md-2">
                <div class="floating-label">
                    <input type="Month" class="form-control bold" ng-model="vm.datePicked">
                    <label ng-class="{'float':vm.datePicked}">Enter Month</label>
                </div>
                <!-- <input type="Month" ng-model="vm.datePicked" class="text-width"> -->
            </div>
            <div class="col-md-2 parallel-button">
                <button class="btn btn-md btn-success" type="button" ng-click="vm.runMonthly()">Run Monthly Receivable</button>
            </div>
            <div class="col-md-6 parallel-button text-right">
                <button class="btn btn-md btn-warning" type="button" ng-click="vm.generatePrint(1)">Generate Posted SOA Report</button>
                <button class="btn btn-md btn-warning" type="button" ng-click="vm.generatePrint(2)">Generate Posted Receivable Report</button>
                <button class="btn btn-md btn-secondary" type="button" ng-click="vm.generatePrint(3)">Print Individual SOA Report</button>
            </div>
            <div class="col-md-2 text-right" ng-if="vm.filtered.length > 0">
                <div class="floating-label">
                    <input type="text" class="form-control bold text-right danger" ng-model="vm.total" disabled>
                    <label ng-class="{'float':vm.total}">Total Receivable</label>
                </div>
            </div>
        </div>
        <div class="row" ng-if="vm.filtered.length > 0">
            <div class="col-md-12 text-center">
                <h4>List of Generated Home Owners</h4>
            </div>
            <div class="col-md-12">
                <div class="modal-grid-with-buttons bottom-margin" style="height:500px;" ui-grid="vm.defaultGrid" ui-grid-selection ui-grid-resize-columns></div>
            </div>
            <div class="col-md-12 text-right">
                <button class="btn btn-md btn-warning" type="button" ng-click="vm.postMe()">POST RECEIVABLE</button>
            </div>
        </div>
    </div>
</div>