<div class="modal-content">
    <div class="modal-title-div">
        <strong class="modal-title-name">Search RIS</strong>
        <button class="modal-exit" ng-click="modal.close()">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form ng-submit="modal.submitSearch()">
                    <div class="input-icons">
                        <i class="fa fa-search icon"></i>
                        <input class="search-field" type="text" placeholder="Search RIS " autofocus ng-model="modal.search" ng-change="modal.searching()">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="height: 300px;" ui-grid="modal.typeGrid" ui-grid-selection ui-grid-resize-columns></div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-md btn-info" ng-click="modal.getFiltered('PENDING')"><strong>PENDING</strong></button>
                <button class="btn btn-md btn-success" ng-click="modal.getFiltered('APPROVED')"><strong>APPROVED</strong></button>
                <button class="btn btn-md btn-danger" ng-click="modal.getFiltered('CANCELLED')"><strong>CANCELLED</strong></button>
                <button class="btn btn-md btn-danger" ng-click="modal.getRis()"><strong>SHOW ALL</strong></button>
            </div>
        </div>
    </div>
</div>